# Python Tuples

> Tuple is a collection of Python objects much like a list.
> The sequence of values stored in a tuple can be of any type, indexed by integers.
Values of a tuple are syntactically separated by ‘commas'
>Note – Creation of Python tuple without the use of parentheses is known as Tuple Packing.
> Tuples can contain any number of elements and of any datatype (like strings, integers, list, etc.)
>We can make a tuple by having only one element byu trailing ,after that element.
>

In [12]:
tuple1=()
type(tuple1)
tuple2=tuple("na")
print("*"*45)
print(type(tuple2))
print("*"*45)
tuple3=(99,)#Sinle element in a tuple is possible
print("*"*45)
print(type(tuple3))
print("*"*45)
tuple4=("ram","der",-9.0,99)
print(tuple4,type(tuple4))#Heterogenous by nature

*********************************************
<class 'tuple'>
*********************************************
*********************************************
<class 'tuple'>
*********************************************
('ram', 'der', -9.0, 99) <class 'tuple'>

In [24]:
#Accessing of Tuples
a=(10, 1, -9.0, 99)
print(type(a))
a[0:3]#Accesing the tuple by indexing

<class 'tuple'>

(10, 1, -9.0)

In [31]:
#Accessing Tuple 
#with Indexing 
Tuple1 = tuple("IAF") 
print("\nFirst element of Tuple: ") 
print(Tuple1[1]) 
print("*"*45)
  
  
#Tuple unpacking 
Tuple1 = ("NAVY", "USA", "ARMY") 

#NOTE : In unpacking of tuple number of variables on left hand side should be equal to number of values in given tuple a.
#This line unpack  
#values of Tuple1 
a, b, c = Tuple1 
print("\nValues after unpacking: ") 
print(a) 
print(b) 
print(c) 
print("*"*45)
Tuple_1 = ("NAVY", "USA", "ARMY") 
print(Tuple_1[0:2])

First element of Tuple:
A
*********************************************

Values after unpacking:
NAVY
USA
ARMY
*********************************************
('NAVY', 'USA')

# Concatenation of Tuples

>Tuple concatenation can be done between two tuples not with list
> Both the tuple should be same data type
> Tuple can be added by the end of the original tuple 
> Concatenation is done by the use of ‘+’ operator
> Other arithmetic operations do not apply on Tuples.
>

In [38]:
t1=(10,20,30,40,50,60,70)
t2=(3,4,5,6,"ram",9.3,"NAVY", "USA", "ARMY") 
tn=t1+t2

In [49]:
t1[-6:-2]
#Negative index slicing ,mentioned index-1 till that position will fetch
#Postive index slicing will fetch till mention index
#Starting from always mentioned index

(20, 30, 40, 50)

In [50]:
del t1# can delete the whole tuple

# Python Sets

>Sets can be created by using the built-in set() function with an iterable object or a sequence by placing the sequence
inside curly braces, separated by ‘comma’.

>Note – A set cannot have mutable elements like a list, set or dictionary, as its elements.
>A set contains only unique elements but at the time of set creation, multiple duplicate values can also be passed. Order of elements in a set is undefined and is unchangeable.

In [5]:
#Mixed data types and duplicates are not allowed
s=set([1,1,2,2,3,"RAM","SHYAM"])
print(s)

{1, 2, 3, 'SHYAM', 'RAM'}

In [14]:
#Adding Elements to a Set
#add() method only accepts set with double (()) 
s=set([1,1,2,2,3,"RAM","SHYAM"])
#Duplicates are not allowed
s.add(1)
print("*"*45)
print(s)
list1=[100,200,"IAF","PAK","ram"]
for i in list1:
    s.add(i)
print("*"*45)
print("After adding the elements to the exiting set by loop")
print(s)
print("*"*45)
print("Adding the tuple with having multiple elements  to the exiting the SET")
s.add(('MIG21',"ISRASEL",99999))
print(s)

*********************************************
{1, 2, 3, 'SHYAM', 'RAM'}
*********************************************
After adding the elements to the exiting set by loop
{1, 2, 3, 'SHYAM', 100, 'PAK', 200, 'IAF', 'RAM', 'ram'}
*********************************************
Adding the tuple with having multiple elements  to the exiting the SET
{1, 2, 3, 'SHYAM', 100, 'PAK', 200, ('MIG21', 'ISRASEL', 99999), 'IAF', 'RAM', 'ram'}

In [27]:
#Using update() method
#We can update the set with list
s.update(['MIG21',"ISRASEL",99999])
print(s)
print("*"*45)
print("Adding the dict to the exiting set")
s.update({0:"A",1:"B",2:"C"})
print(s)
s.update(['MIG21',"ISRASEL",99999])
print("*"*45)
print(s)

{0, 1, 2, 3, 'L', 'IAF', 'ram', 99999, 'SHYAM', '2', 'I', '1', 'R', 'PAK', 200, ('MIG21', 'ISRASEL', 99999), 'MIG21', 'ISRASEL', 'RAM', 100, 'M', 'G', 'S', 'A', 'E'}
*********************************************
Adding the dict to the exiting set
{0, 1, 2, 3, 'L', 'IAF', 'ram', 99999, 'SHYAM', '2', 'I', '1', 'R', 'PAK', 200, ('MIG21', 'ISRASEL', 99999), 'MIG21', 'ISRASEL', 'RAM', 100, 'M', 'G', 'S', 'A', 'E'}
*********************************************
{0, 1, 2, 3, 'L', 'IAF', 'ram', 99999, 'SHYAM', '2', 'I', '1', 'R', 'PAK', 200, ('MIG21', 'ISRASEL', 99999), 'MIG21', 'ISRASEL', 'RAM', 100, 'M', 'G', 'S', 'A', 'E'}

In [36]:
#Accessing a Set
for i in s:
    print(i,end="\n\n")
#Checking the presence of element in set
print("*"*45)
print(" Checking the presence of element in set")
print("ISRASEL" in s)

0

1

2

3

L

IAF

ram

99999

SHYAM

2

I

1

R

PAK

200

('MIG21', 'ISRASEL', 99999)

MIG21

ISRASEL

RAM

100

M

G

S

A

E

*********************************************
 Checking the presence of element in set
True

In [47]:
#Removing elements from the Set
print("initial set")
s.remove(100)
print("*"*45)
print("After removing")
print(s)

initial set
*********************************************
After removing
{1, 2, 3, 'L', 'IAF', 'ram', 99999, '2', 'I', '1', 'R', 'PAK', 200, ('MIG21', 'ISRASEL', 99999), 'MIG21', 'ISRASEL', 'RAM', 'G', 'S', 'A', 'E'}

In [45]:
#Discard will not raise any error if the element is not present in set
#remove will throw an error if the element is not present inside the set
s.discard("SHYAM")

print("Discarding a element")
print("*"*45)
print(s)

Discarding a element
*********************************************
{1, 2, 3, 'L', 'IAF', 'ram', 99999, '2', 'I', '1', 'R', 'PAK', 200, ('MIG21', 'ISRASEL', 99999), 'MIG21', 'ISRASEL', 'RAM', 100, 'G', 'S', 'A', 'E'}

In [49]:
#Using pop() method
#As its a unordered collection of data ,hence its not possible to do the pop by the index wise by default we can delete last element 
print("*"*45)
print(s)
#POP will return the item which one is got deleted 
s.pop()

*********************************************
{1, 2, 3, 'L', 'IAF', 'ram', 99999, '2', 'I', '1', 'R', 'PAK', 200, ('MIG21', 'ISRASEL', 99999), 'MIG21', 'ISRASEL', 'RAM', 'G', 'S', 'A', 'E'}

1

#Using clear() method
#To remove all the elements from the set, clear() function is used.
#Frozen sets in Python are immutable objects that only support methods and operators that produce a result without 
affecting the frozen set or sets to which they are applied. While elements of a set can be modified at any time,
elements of the frozen set remain the same after creation.
If no parameters are passed, it returns an empty frozenset


>s_frozn=frozenset(s)

>print(type(s_frozn))

NOTES ON SET:
>add()	Adds an element to a set
>remove()	Removes an element from a set. If the element is not present in the set, raise a KeyError
>clear()	Removes all elements form a set
>copy()	Returns a shallow copy of a set
>pop()	Removes and returns an arbitrary set element. Raise KeyError if the set is empty
>update()	Updates a set with the union of itself and others(tuple can be added no list)
>discard()	Removes an element from set if it is a member. (Do nothing if the element is not in set)
>intersection()	Returns the intersection of two sets as a new set
>isdisjoint() function in Python
Two sets are said to be disjoint when their intersection is null. In simple words they do not have any common element in between them.

In [65]:
#Union() function in Python
#Union of two given sets is the smallest set which contains all the elements of both the sets. 
#Union of two given sets A and B is a set which consists of all the elements of A and all the elements of B such that no 
#element is repeated.
k={1,2,3}
l={3,4,5,6}
z={7,8,9,10}
k.union(l,z)
#Python Set | difference_update()
#difference_update()	Removes all elements of another set from this set
#

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [74]:
# Driver Code 
A = {10, 20, 30, 40, 80} 
B = {100, 30, 80, 40, 60} 
  
# Modifies A and returns None 
A.difference_update(B) #=A-B#Whatever the values are not present in B BUT AVAL IN A that will be A-B
print("A-B#Whatever the values are not present in B BUT AVAL IN A that will be A-B")
print(A)
#B-A#Whatever the values are not present in A BUT AVAL IN B that will be B-A
B.difference_update(A)
print("Whatever the values are not present in A BUT AVAL IN B that will be B-A")
print(B)

A-B#Whatever the values are not present in B BUT AVAL IN A that will be A-B
{10, 20}
Whatever the values are not present in A BUT AVAL IN B that will be B-A
{100, 40, 80, 60, 30}